/* Global */
* {
    box-sizing: border-box;
}

body{
    background-color: #898989;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


/* Tictactoe table */
table {
    border-collapse: collapse;
}

tr {
    width: 399px;
}

td {
    width: 133px;
    height: 133px;
    border: 5px solid black;
    position: relative;
    cursor: pointer;
}

td:hover {
    background-color: rgba(245, 152, 12, 0.363);
}

tr:first-child  td {
    border-top: 0;
}

tr td:first-child {
    border-left: 0px;
}

tr:last-child td {
    border-bottom: 0;
}

tr td:last-child {
    border-right: 0;
}

.shape {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 14px;
    left: 15px;
}

.d-none {
    display: none;
}


/* Player Panel */
.playerPanel {
    display: flex;
    font-size: 32px;
    margin-bottom: 32px;
}

.playerPanel div {
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
}

.playerPanel img {
    width: 80px;
    height: 80px;
    margin-left: 16px;
    margin-right: 16px;
}

.inactivePlayer {
    opacity: 0.5;
}